name: Draw Keymap
on:
  workflow_dispatch: # permite rodar manualmente
  push:
    paths:
      - "config/*.keymap" # roda sempre que o keymap mudar
      - "keymap_drawer.config.yaml"

jobs:
  draw:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install keymap-drawer
        run: pip install keymap-drawer
      - name: Draw Keymap
        run: |
          mkdir -p img
          keymap-drawer draw config/sofle.keymap > img/keymap.svg
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add img/keymap.svg
          git commit -m "Update keymap SVG" || echo "No changes"
          git push
